.App {
  text-align: center;
  padding-top: 1%;
  height: 100%;
}

body,
html {
  background-image: url("./assets/bg.jpg");
  background-size: cover;
}

/* Weather Component starts*/
.spinner-style {
  padding-bottom: 100%;
}
/* Weather Component ends*/

/* WeatherCard starts*/
.weather-card {
  width: 23%;
  margin-left: 38%;
  margin-top: 2%;
  padding-bottom: 5%;
}

.card-body {
  background-color: black;
  color: antiquewhite;
}

.weather-card .card {
  background-color: black;
  background-clip: border-box;
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.35rem;
}

.temperature {
  font-weight: bold;
  font-size: 25px;
}

.city-name {
  font-weight: bold;
  font-size: 22px;
}

.desc {
  font-size: 15px;
}
/*WeatherCard ends*/

.dropdown-menu{
  overflow-y: scroll;
  max-height: 300px;
}