.App {
  text-align: center;
  background: rgb(46, 145, 145);
  padding-top: 1%;
  height: 100%;
}

.weather-card {
  width: 23%;
  margin-left: 38%;
  margin-top: 5%;
  padding-bottom: 5%;
}

.card-img,
.card-img-top {
  background-color: lightblue;
}

.card-body {
  background-color: black;
  color: antiquewhite;
}

.weather-card .card {
  background-color: black;
  background-clip: border-box;
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.35rem;
}

body, html {
  height: 100%;
  margin: 0;
  background-color: rgb(46, 145, 145);
}

.spinner-style{
  padding-bottom: 100%;
}
