.App {
  text-align: center;
  padding-top: 1%;
  height: 100%;
}

.weather-card {
  width: 23%;
  margin-left: 38%;
  margin-top: 2%;
  padding-bottom: 5%;
}

.card-img{
  background-color: rgb(195, 232, 241);
}

.card-body {
  background-color: black;
  color: antiquewhite;
}

.weather-card .card {
  background-color: black;
  background-clip: border-box;
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.35rem;
}

body,
html {
  background-image: url('./assets/bg.jpg');
  background-size: cover;
}

.spinner-style {
  padding-bottom: 100%;
}

.temperature {
  font-weight: bold;
  font-size: 25px;
}

.city-name {
  font-weight: bold;
  font-size: 22px;
}

.desc{
  font-size: 15px;
}

.wind{
  font-size: 15px;
  margin-top: -15%;
  margin-left: 42%;
}

